/* general styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: Helvetica;
}

p {
    font-family: "Avenir", Helvetica;
}

/* navigation */
li, a {
    font-family: "Avenir", Helvetica;
    font-weight: 500;
    font-size: 16px;
    color: #4B5D68;   
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding-left: 121px;
    padding-right: 418px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20;
    padding-right: 40px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #212353;
}

#request-button button {
    font-family: "Avenir", Helvetica;
    font-weight: 500;
    font-size: 16px;
    color: #212353;
    text-decoration: none;
    width: 210px;
    height: 60px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    overflow: hidden;    
    cursor: pointer;
}

.button-icon {
    color:#9C69E2;
    font-size: 25px;
    position:absolute;
    transition: all 0.3s ease 0s;
}

#request-button:hover {
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.25);
    border-radius: 50px;
}

/* data storage section */
main {
    display: flex;
    /* height: calc(100vh -120px); */
    align-items: center;
    justify-content: center;
}
/* 
.data-storage {
    position: relative;
    width: 100%;
} */

.data-storage h2 {
    margin-left: 240px;
    margin-top: 147px;    
    font-size: 80px;
    color: #212353;
    width:max-content;
    /* position: relative; */
    display: grid;
}

.data-storage p {
    margin-left: 240px;
    margin-top: 50px;
    margin-right: 0%;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
    width:max-content;
    position: relative;
}

.data-image {
    width: 885px;
    height: 468px;
    float: right;
    /* position:relative; */
    overflow: hidden;
    /* float: left; */
    margin-top: 250px;
    /* shape-outside: circle(100%); */
}

#data-button button {
    font-family: "Avenir", Helvetica;
    font-weight: 500;
    font-size: 16px;
    float: left;
    margin-top: 50px;
    margin-left: 240px;
    background-color: #9C69E2;
    color: #FFFFFF;
    text-decoration: none;
    width: 170px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 50px;
    overflow: hidden;    
    cursor: pointer;
}

/* high level section */
.high-level {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 1117px;
    height: 560px;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin-top: 102px;
    margin-left: 240px;
}

.high-level-image {
    width: 477px;
    height: 504px;
    /* margin-top: 134px; */
    /* margin-left: inherit; */
    /* margin-right: 62px; */
    /* margin-bottom: 25px; */
}

.high-level h2 {
    margin-top: 115px;
    margin-left: 50px;
    font-size:40px;
    line-height: 52px;
    margin-bottom: 40px;
    color: #212353;
    
}

.high-level p {
    font-size: 18px;
    line-height: 29px;
    color:#4B5D68;
    width:474px;
    margin-left: 50px;
}

/* features section */
.features h2 {
    color: #212353;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-top: 150px;
}

.features p {
    color: #4B5D68;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

.container-features1 {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.container-features1 h2 {
    color: #212353;
    font-size: 24px;
    line-height: 31px;
    font-weight: 50;
    margin-bottom: 20px;
    margin-top: 49px;
}

.container-features1 p {
    color: #4B5D68;
    font-size: 16px;
    line-height: 26px;
}

.container-features2 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.container-features2 h2 {
    color: #212353;
    font-size: 24px;
    line-height: 31px;
    font-weight: 50;
    margin-top: 49px;
    margin-bottom: 20px;
}

.container-features2 p {
    color: #4B5D68;
    font-size: 16px;
    line-height: 26px;
}

.box {
    height: 358px;
    width: 442px;
}

.box-1 {
    margin-top: 73px;
}
.box-2 {
    height: 358px;
    width: 442px;
    justify-content: center;
    background-color: rgba(104, 201, 186, .1);
}
.box-2 h2, p {
    margin-left: 172px;
}
.box-2 p {
    margin-bottom: 40px;
}

.box-3 {
    margin-top: 73px;
}
.box-4 {
    height: 358px;
    width: 442px;
    justify-content: center;
    background-color: rgba(156, 105, 226, .1);
}
.box-4 h2, p {
    margin-left: 172px;
}
.box-4 p {
    margin-bottom: 60px;
}

.box-5 {
    margin-top: 73px;
}
.box-6 {
    height: 358px;
    width: 442px;
    justify-content: center;
    background-color: rgba(240, 99, 184, .1);
}
.box-6 h2, p {
    margin-left: 172px;
}
.box-6 p {
    margin-bottom: 80px;
}

.box-7 {
    margin-top: 73px;
}

.box-8 {
    height: 358px;
    width: 442px;
    justify-content: center;
    background-color: rgba(45, 156, 219, .1);
}
.box-8 h2, p {
    margin-left: 172px;
}
.box-8 p {
    margin-bottom: 35px;
}

#features-button button{
    margin-left: 172px;  
    background-color: transparent;
    font-family: "Avenir", Helvetica;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: none; 
    cursor: pointer;
    /* font-stretch:semi-expanded; */
}